header, footer{
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight: bold;
    color:rgb(2, 55, 124); 
}
body{
    background-image: url('../droppper_back.png');
}

.container{
    background-color: white;
    padding: 15px;
    border:5px solid rgb(2, 79, 124);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

/*h1{
    font-size: 65px;
}*/

.border-h1{
    border:5px solid rgb(2, 79, 124);
    border-radius: 20px;
    background-color: white;
    padding: 1%;
}

.Righteous{
    font-family: 'Righteous', cursive;
}

.margin-buttons-sm{
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-buttons-lr{
    margin-left: 15px;
    margin-right: 15px;
}

.upload{
    max-width: 110px;
    width: 15%;
    vertical-align: text-bottom;
}
